

/* Hero Section  */
.background-container{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05) ), url(/src/images/hero_image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    display: grid;
    align-items: center;

}
/* .hero-section{

} */


.header-nav{
    width: 90vw;
    margin: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */

    padding:10px 2% 10px 2%;
    background: rgba(255,255,255,0.4);
    box-shadow: 0, 15px, 35px, rgba(0,0,0,0.05);
    backdrop-filter: blur(7px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    
    position: fixed;
    
    
    flex-wrap: wrap;
}
.logo{ 
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Supermercado One', cursive;
}
.logo::first-letter{
    font-size: 42px;
    color: #00a6a1;
    font-weight: bold;
}
.navigations{
    
    display: flex;

    /* For avoiding flex overflow from container from right side */
    justify-content: end;
    gap:20px;

    align-items: center;
    width:40%;
    font-size: 20px;
    
}
.navigation{
    cursor: pointer;
    border-radius: 50px;
    padding: 7px 14px;
    color:#241d36;
}
/* .navigations a{
} */
.active--nav{
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    background-color: #00a6a1;
    font-weight: 500;
    
}

.navigation:hover{
    
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.active--nav:hover{
    background-color:#33b8b4;
}
.hamburger-head{
    display: none;
}
.hamburger-nav-desktop{
    display: none;
}
.hamburger-nav-mobile{
    display: none;
}

/* .header-container {
    width:1200px;
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -80%);
} */
.header{
    /* position: relative; */
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .header-container {
    
    
} */
.header-container-inner{
    width:40vw;
    
    /*! This is deleted to be seen later for extra centring */
    /* margin-left: 5%; */
    
    
    /* margin:100px */
}
/* .header-info{
} */

.hero-section h1{
    font-size: 62px;
    letter-spacing: -0.5px;
    line-height: 1.1;
    margin-bottom: 3rem;
}

.hero-section p{
    line-height: 1.3;
    font-weight: 500;
    font-size:24px;
    margin-bottom: 96px;
}

.hero--btns{
    width:100%;
    display: flex;
    align-items: center;
    gap:50px;
}
/* .hero-section .btn{

} */

.hero--left--btn{
    color: #e9e8eb;
    background-color: #241d36;
}
.hero--right--btn{
    color: #fff;
    background-color: #00a6a1;
}
.hero--left--btn:hover{
    background-color: #1d172b;
}
.hero--right--btn:hover{
    background-color: #33b8b4;
}

    /* Media Query for Mobile Devices */
    @media  screen and (max-width: 481px) {
        .background-container{
            background-position-x: 40%;
        }
    
        .navigations {
            display: none;
            position: relative;
        }

        .hamburger-head{
            display: block;
        }
        .hamburger-nav-mobile{
            display: block;
            position: absolute;
            top:101%;
            left: 0;
            width: 100%;
            padding: 8% 4%;
            background: rgba(255,255,255,0.4);
            box-shadow: 0, 15px, 35px, rgba(0,0,0,0.05);
            backdrop-filter: blur(7px);
            border:1px solid rgba(255,255,255,0.25);
            border-top:1px solid rgba(255,255,255,0.5);
            border-left:1px solid rgba(255,255,255,0.5);
            border-radius: 10px;
        }
        .ham-nav-item{
            color:#241d36;
            display: block;
            margin-bottom: 40px;
            font-size: 20px;
            cursor: pointer;
            font-weight: 500;
            
        }
        .ham-nav-item:last-child{
            margin-bottom: 0;
        }
        .ham-nav-item:hover{
            border-radius: 50px;
            padding: 10px 20px;
            color: #fff;
            background-color: #00a6a1;
            font-weight: 500;
        }


        .header-info{
            width: 80%;
        }
        .hero-section h1{
            font-size: 36px;

        }
        
        .hero-section p{
            font-size:18px;

        }
        
        .hero--btns{
            width:100%;
            gap:15px;
        }
        .large--btn{
            padding: 9px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    /* Media Query for low resolution  Tablets, Ipads */
    /*! To be dealt most  */
    @media screen and (min-width: 481px) and (max-width: 767px) {
    
        .background-container{
            background-position-x: 70%;
        }
    
        .navigations {
            display: none;
        }
        .hamburger-head{
            display: block;
        }
        .hamburger-nav-mobile{
            display: block;
            position: absolute;
            top:101%;
            left: 0;
            width: 100%;
            padding: 8% 4%;
            background: rgba(255,255,255,0.4);
            box-shadow: 0, 15px, 35px, rgba(0,0,0,0.05);
            backdrop-filter: blur(7px);
            border:1px solid rgba(255,255,255,0.25);
            border-top:1px solid rgba(255,255,255,0.5);
            border-left:1px solid rgba(255,255,255,0.5);
            border-radius: 10px;
        }
        .ham-nav-item{
            color:#241d36;
            display: block;
            margin-bottom: 40px;
            font-size: 20px;
            cursor: pointer;
            font-weight: 500;
            
        }
        .ham-nav-item:last-child{
            margin-bottom: 0;
        }
        .ham-nav-item:hover{
            border-radius: 50px;
            padding: 10px 20px;
            color: #fff;
            background-color: #00a6a1;
            font-weight: 500;
        }

        .header-info{
            width: 60%;
        }
        .hero-section h1{
            font-size: 44px;

        }
        
        .hero-section p{
            font-size:20px;

        }
        
        .hero--btns{
            width:100%;
            gap:15px;
        }
        .large--btn{
            padding: 9px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    

    /* Media Query for Tablets Ipads portrait mode */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        .background-container{
            background-position-x: 70%;
        }

        .header-info{
            width: 60%;
        }
        .hero-section h1{
            font-size: 44px;
        }
        
        .hero-section p{
            font-size:22px;
        }
        .hero--btns{
            width:80%;
            justify-content: space-between;
        }
        .large--btn{
            padding:10px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    
    /* Media Query for Laptops and Desktops */
    @media screen and (min-width: 1025px) and (max-width: 1280px){
        .header-info{
            width: 60%;
        }
        .hero-section h1{
            font-size: 48px;

        }
        
        .hero-section p{
            font-size:22px;

        }
    }
    
    /* Media Query for Large screens */
    @media screen and (min-width: 1281px) {
    
    }